<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="kr.co.area.hashtag.Recommend_write"></activity>
        <activity android:name="kr.co.area.hashtag.recommendation_path.RecommendPathMainActivity" />
    </application>

</manifest>